# Include Misc files
include README.rst
include LICENSE

# inlcude templates
recursive-include sockjschat/templates *

# include static js files
recursive-include sockjsChat/static/js *

# include static css files
recursive-include sockjsChat/static/css *


